* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./Photo/bg.jpg');
}

.header {
    background-color: #999082;
    color: white;
    text-align: center;
    padding: 1em 0;

}

.header-logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.header-title {
    margin: 0;
    padding-left: 20px;
    display: block;
}

.nav {
    background-color: #444;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: inline;
    margin: 0 15px;
}

.nav-link {
    color: white;
    text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
    color: rgb(214, 197, 197);
    transform: scale(3.05);
}

.section {
    padding: 20px;
}

.section-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.section-content {
    margin: 10px 0;
}

.services-list {
    list-style-type: none;
    padding: 0;
}

.service-item {
    margin: 5px 0;
}

.gallery-images {
    max-width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-image {
    width: 30%;
    margin-bottom: 10px;
}

.social-link {
    color: #007bff;
    text-decoration: none;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.footer-text {
    margin: 0;
}

@media (max-width: 768px) {
    .nav-item {
        display: block;
        margin: 10px 0;
    }

    .gallery-image {
        width: 100%;
    }
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-image {
    width: 30%;
    margin-bottom: 10px;
    border-radius: 5px; /* Додаємо закруглення кутів */
    transition: transform 0.3s; /* Додаємо анімацію при наведенні */
}

.gallery-image:hover {
    transform: scale(1.05); /* Збільшуємо зображення при наведенні */
}

@media (max-width: 768px) {
    .gallery-image {
        width: 48%; /* Два зображення в ряд на планшетах */
    }
}

@media (max-width: 480px) {
    .gallery-image {
        width: 100%; /* Одне зображення в ряд на мобільних пристроях */
    }
}

